@import 'tailwindcss';
@import '@nuxt/ui';
@plugin '@tailwindcss/typography';

/* Hide the password reveal button in Edge */
::-ms-reveal {
  display: none;
}

input {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

@layer components {
  .bg-vendor-gradient {
    @apply bg-radial-[at_25%_25%] from-blue-400 from-30% to-sky-300;
  }
}
