@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-primary: black;
  --ui-border-accented: var(--ui-color-black);
}

/* Hide the password reveal button in Edge */
::-ms-reveal {
  display: none;
}

input {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

@layer components {
  .bg-vendor-gradient {
    @apply bg-radial-[at_25%_25%] from-[#FFB27B] from-30% to-[#facaa8ba];
  }
}
